body {
  color: #3d3f44;
  font-family: serif;
  border-top: solid 3px #20ded8;
  padding-top: 40px;
/*
  background-color: #eee;
  background: linear-gradient(314deg, #287eae, #35cc7d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
*/
}

h1 {
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 1.2em;
}

@media (max-width: 480px) {
  h1 {
    font-size: 60px;
  }
}
h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: sans-serif;
}

h3 {
  margin-top: 40px;
  font-size: 14px;
  text-transform: uppercase;
}
h3::after {
    width: 60px;
    height: 1px;
    background-color: #e9edf2;
    display: block;
    content: "";
    margin: 10px 0 30px;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a {
  color: #1293b5;
  transition: all 300ms ease-out;
}
a:hover {
  text-decoration: none;
  color: #20ded8;
}

.twitter-top {
  font-size: 18px;
}

.avatar {
  object-fit: cover;
  width: 100px;
  opacity: .7;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  transition: all 300ms ease;
}

.avatar:hover {
  opacity: 1;
}

footer::before {
    width: 60px;
    height: 1px;
    background-color: #e9edf2;
    display: block;
    content: "";
    margin: 40px 0 20px;
}

footer a{
  color: #AAA;
  font-size: 12px;
}
footer {
  color: #AAA;
  margin-bottom: 30px;
}
